.Main_Container {
  width: 100%;
  height: 1000px;
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Main_Container .Calculator_Container {
  width: 400px;
  height: 675px;
}
.Main_Container .Action_Math_Container {
  display: flex;
  width: 100%;
  height: 100px;
}
.Main_Container .Action_Math_Container .ActionButtonContainer {
  width: 275px;
  height: 100px;
}
.Main_Container .Action_Math_Container .Math_Container {
  width: 130px;
  height: 500px;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
}
.Main_Container .NumberButtonContainer {
  width: 280px;
  height: 298px;
  display: flex;
  flex-wrap: wrap;
}
.Main_Container .ActionButtonZero {
  width: 275px;
  height: 100px;
}
